.product-list-container {
  width: 100%;
  font-size: 12px;
}

.statistics-container {
  width: 98%;
  margin: 0 auto !important;
  margin-top: 2rem !important;
}

.table {
  border: solid 1px #005971;
}

.scrollable {
  overflow: scroll;
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1 !important;
}

.table-head {
  background-color: #005971;
  color: white;
}

.table-title-and-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97%;
  margin: 0 auto !important;
  padding: 5px 5px 0 5px;
}

.table-title {
  text-align: left;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 1rem;
}

.pagination .page-num {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal;
  color: #333;
  border: 1px solid #333;
  margin: 2px;
  text-decoration: none;
}

.pagination .page-num:hover {
  color: orange;
  background-color: white;
}
.activePage {
  color: white !important;
  background-color: #005971;
  height: 100%;
}

.activePage:hover {
  color: orange !important;
}

.no-products-div {
  padding-top: 3rem;
  text-align: center;
}

.no-products-div p {
  color: #005971;
  font-size: 1.5rem;
}
