.profile-container {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-image-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-image-container img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 200px !important;
}
.user-info {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}
.profile-container p {
  color: gray;
}

.props {
  color: #005971;
  font-weight: 600;
}

.edit-profile-btn {
  background-color: #005971 !important;
  color: white !important;
}

.edit-profile-btn:hover {
  background-color: white !important;
  color: black !important;
  border: #005971 1px solid !important;
}
